<div
  class="w-[inherit] group-[.ng-dirty.ng-touched.ng-invalid]:*:border-feedback-error group-[.ng-dirty.ng-touched.ng-invalid]:*:text-feedback-error"
>
  <div
    [title]="selectedOption()?.label || placeholder()"
    class="flex items-center justify-between pl-4 pr-2 border rounded-md cursor-pointer border-text-body-2/20 bg-background-base/80"
    [class.opacity-60]="disabled"
    (click)="!disabled && toggle()"
    cdkOverlayOrigin
    #trigger
    #origin="cdkOverlayOrigin"
  >
    <span class="block py-1 pr-2 text-lg truncate">
      @if(selectedOption()) {
      {{ selectedOption()!.label }}
      } @else {
      <span class="opacity-65">
        {{ placeholder() }}
      </span>
      }
    </span>
    <span
      class="text-lg transition-transform duration-200 material-symbols-outlined opacity-70"
      [class.rotate-180]="isOpen"
    >
      {{ isOpen ? "collapse_all" : "expand_all" }}
    </span>
  </div>

  <!-- <button (click)="teste(trigger)">oi</button> -->

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayWidth]="comboboxWidth"
    [cdkConnectedOverlayOrigin]="origin"
    [cdkConnectedOverlayOpen]="isOpen"
    [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
    (overlayOutsideClick)="isOpen = false"
  >
    <div
      class="w-full my-1 text-lg border rounded-md shadow-xl bg-background-base border-text-body-2/20"
    >
      <div class="flex items-center pl-3 border-b border-text-body-2/20">
        <span class="text-2xl material-symbols-outlined opacity-55">
          search
        </span>
        <input
          type="text"
          [ngModel]="filter()"
          (ngModelChange)="filter.set($event)"
          class="w-full inline-block bg-[transparent] outline-none py-1 pl-1"
          placeholder="Buscar..."
        />
      </div>

      <ul
        class="px-2 py-2 max-h-40 overflow-y-auto scrollbar scrollbar-track-[transparent] scrollbar-thumb-background-variant-light-2"
      >
        @if(canAddOption()) {
        <li
          (click)="emitCreateOption()"
          class="flex items-center gap-1 py-1 pl-1 pr-2 transition duration-300 rounded-md cursor-pointer hover:bg-background-variant-light-2"
        >
          <span class="w-6 text-2xl material-symbols-outlined"> add </span>

          {{ creationOptionLabel() }}
        </li>
        } @for (option of filteredOptions(); track option.label) {
        <li class="w-full inline-grid grid-cols-[1fr_auto] gap-1">
          <div
            [title]="option.label"
            (click)="setOption(option)"
            class="grid grid-cols-[1.5rem_1fr] w-full gap-1 py-1 pl-1 pr-2 truncate transition duration-300 rounded-md cursor-pointer item s-center hover:bg-background-variant-light-1"
          >
            <span class="text-2xl material-symbols-outlined">
              @if(selectedOption() === option) { done }
            </span>

            <span class="truncate">
              {{ option.label }}
            </span>
          </div>

          @if(canRemoveOption()) {
          <div (click)="emitDeleteOption(option)" title="Remover">
            <span
              class="w-6 h-8 text-2xl transition-all rounded-md cursor-pointer material-symbols-outlined icon-bold text-feedback-error hover:bg-feedback-error/30"
            >
              close
            </span>
          </div>
          }
        </li>
        } @empty { @if(!canAddOption()) {
        <li>{{ emptyMessage() }}</li>
        } }
      </ul>
    </div>
  </ng-template>
</div>
