<div class="relative h-full grid grid-rows-[auto_1fr] pb-5 px-3 lg:px-6">
  <header
    class="sticky top-0 left-0 z-10 pb-2 border-b pt-7 bg-background-variant-light-1 border-text-body-1/20"
  >
    <div class="flex flex-wrap items-end justify-between gap-x-8">
      <h1 class="text-2xl font-bold">Nova Despesa</h1>

      <div class="flex items-end justify-end flex-grow gap-2 pt-2">
        <button
          class="w-full font-bold h-min sm:max-w-64"
          [disabled]="despesaForm.invalid"
          appButton
          (click)="save()"
        >
          Cadastrar Despesa
        </button>
      </div>
    </div>
  </header>

  <form [formGroup]="despesaForm" class="container w-full mb-5">
    <div class="py-4 border-b border-text-body-1/20">
      <h2 class="pb-2 text-lg font-extrabold text-primary-base">
        Informações Gerais
      </h2>
      <div class="flex flex-wrap flex-grow gap-4">
        <label class="flex-grow">
          Descrição <span class="text-sm text-feedback-error">*</span>
          <input
            appInput
            class="w-full"
            formControlName="descricao"
            placeholder="Despesa..."
            type="text"
          />
        </label>

        <label class="flex-grow max-w-80">
          Valor <span class="text-sm text-feedback-error">*</span>
          <input
            appInput
            class="w-full"
            placeholder="Valor"
            formControlName="valor"
            currencyMask
            [options]="{
              prefix: 'R$ ',
              thousands: '.',
              decimal: ',',
              align: 'left'
            }"
          />
        </label>
      </div>
    </div>

    <div
      class="py-4 border-b border-text-body-1/20"
      [class.border-b]="tipoPagamentoSelecionado()"
    >
      <h2 class="pb-2 text-lg font-extrabold text-primary-base">
        Tipo de Despesa <span class="text-sm text-feedback-error">*</span>
      </h2>

      <div class="grid gap-3">
        <div class="flex flex-wrap gap-x-4 gap-y-2">
          @for(tipo of tipoPagamentoOptions; track $index) {
          <label class="inline-flex items-center gap-2">
            <app-checkbox
              (valueChange)="handleTipoPagamentoValueChange(tipo)"
              [checked]="tipoPagamentoSelecionado() === tipo"
            ></app-checkbox>
            {{ tipo }}
          </label>
          }
        </div>

        <div class="max-w-xl">
          <label>
            <span [class.opacity-50]="!tipoPagamentoSelecionado()"
              >Categoria Pagamento
              <span class="text-sm text-feedback-error">*</span></span
            >

            <app-combobox
              [options]="categoriasPagamentosDisponiveis()"
              formControlName="categoriaPagamento"
              (removeOption)="setOptionToDelete($event, 'categoriaPagamento')"
              (addOption)="changeModalState('categoriaPagamento', true)"
              [canAddOption]="true"
              [canRemoveOption]="true"
            ></app-combobox>
          </label>
        </div>
      </div>
    </div>

    @if(tipoPagamentoSelecionado() === 'Recorrente') {
    <app-frequencia-form [despesaForm]="despesaForm"></app-frequencia-form>

    } @else if (tipoPagamentoSelecionado() === 'Parcelado') {
    <div class="py-4 border-b border-text-body-1/20">
      <h2 class="pb-2 text-lg font-bold text-primary-base">Parcelas</h2>

      <div class="grid max-w-full gap-3 sm:grid-cols-2 sm:max-w-xl">
        <label>
          <p>Total <span class="text-sm text-feedback-error">*</span></p>
          <input
            appInput
            class=""
            type="number"
            min="1"
            placeholder="Quantidade Total"
            formControlName="quantidadeParcelas"
          />
        </label>

        <label>
          <p>Atual <span class="text-sm text-feedback-error">*</span></p>
          <input
            appInput
            class=""
            type="number"
            min="1"
            placeholder="Parcela"
            formControlName="parcelaAtual"
          />
        </label>
      </div>
    </div>

    <app-frequencia-form [despesaForm]="despesaForm"></app-frequencia-form>

    } @else if (tipoPagamentoSelecionado() === 'À Vista') {
    <div class="py-4 border-b border-text-body-1/20">
      <h2 class="pb-2 text-lg font-bold text-primary-base">
        Data do Pagamento
      </h2>

      <div class="max-w-96">
        <app-date-picker
          [min]="minDate"
          [max]="maxDate"
          formControlName="dataProximoPagamento"
        ></app-date-picker>
        @if (minDate) {
        <p class="pt-1 text-xs font-bold">
          Data Mínima: {{ minDate | date : "dd/MM/YYYY" }}
        </p>
        }
      </div>
    </div>
    }
  </form>
  <!-- <pre>
    {{ despesaForm.value | json }}
  </pre> -->
</div>

<app-modal
  class="rounded-md"
  [open]="modalStates().deleteOption"
  (close)="changeModalState('deleteOption', false)"
>
  <app-remove-option
    [option]="optionToDelete()"
    (optionDeleted)="optionDeletedHandler()"
  ></app-remove-option>
</app-modal>

<app-modal
  class="w-[80%] max-w-96 rounded-md"
  [open]="modalStates().categoriaPagamento"
  (close)="changeModalState('categoriaPagamento', false)"
>
  <app-add-categoria-pagamento
    [tiposPagamentos]="tiposPagamentos()"
    [tipoPagamentoSelecionado]="tipoPagamentoSelecionado()"
    (categoriaPagamentoCreated)="handleCategoriaPagamentoCreated($event)"
  ></app-add-categoria-pagamento>
</app-modal>
