<div
  class="p-4 border rounded-md border-primary-base bg-background-variant-light-2/50"
>
  <h1 class="pb-8 text-2xl font-bold text-center">Cadastro</h1>

  <form [formGroup]="userRegisterForm">
    <div class="grid gap-2">
      <label>
        ID Usuário
        <input appInput type="text" formControlName="userId" />
      </label>

      <label>
        E-mail
        <input appInput type="email" formControlName="email" />
      </label>

      <label>
        Senha
        <input appInput type="password" formControlName="password" />
      </label>

      <label>
        Confirme a Senha
        <input appInput type="password" formControlName="confirmPassword" />
      </label>

      @if(errorMessage()) {
      <p
        class="p-2 mt-2 border rounded-md bg-feedback-error/50 border-feedback-error text-text-body-1"
      >
        {{ errorMessage() }}
      </p>
      }
    </div>
  </form>

  <button
    appButton
    [loading]="loading()"
    class="w-full my-10"
    (click)="registerUser()"
  >
    Registrar-se
  </button>

  <p class="text-center text-text-body-1/70">
    Já possui uma conta?
    <span
      class="font-bold cursor-pointer ps-1 text-primary-base"
      routerLink="/auth/login"
      >Entre!</span
    >
  </p>
</div>
