<div class="p-4 border rounded-md border-primary-500 bg-background-300/50">
  <h1 class="pb-8 text-2xl font-bold text-center">Cadastro Low Cost</h1>

  <form [formGroup]="userRegisterForm">
    <div class="grid gap-2">
      <label>
        ID Usuário
        <input appInput type="text" formControlName="userId" />
      </label>

      <label>
        E-mail
        <input appInput type="email" formControlName="email" />
      </label>

      <label>
        Senha
        <input appInput type="password" formControlName="password" />
      </label>

      <label>
        Confirme a Senha
        <input appInput type="password" formControlName="confirmPassword" />
      </label>

      @if(errorMessage()) {
      <p
        class="p-2 mt-2 border rounded-md bg-danger-500/50 border-danger-500 text-white-500"
      >
        {{ errorMessage() }}
      </p>
      }
    </div>
  </form>

  <button appButton class="w-full my-10" (click)="registerUser()">
    Registrar-se
  </button>

  <p class="text-center text-text-500/70">
    Já possui uma conta?
    <span class="font-bold ps-1 text-primary-500" routerLink="/auth/login"
      >Entre!</span
    >
  </p>
</div>
