<div class="w-full min-h-full lg:container grid grid-rows-[auto_1fr]">
  <header class="pb-4 border-b md:mb-3 border-text-body-2/20">
    <h1 class="text-3xl font-bold">Receitas</h1>
    <h2 class="text-text-body-2">
      Cadastre suas receitas e contribua para a previsibilidade do seu
      patrimônio futuro!
    </h2>
  </header>

  <div
    class="grid grid-cols-1 grid-rows-[auto_1fr] md:grid-rows-1 gap-4 md:grid-cols-2"
  >
    <section
      class="pt-6 pb-8 border-b md:pt-3 md:border-b-0 md:pb-0 md:border-r border-text-body-2/20 md:pe-2 lg:pe-4"
    >
      <header class="mb-4">
        <h2 class="mb-1 text-xl font-bold">Recorrentes</h2>

        <h3 class="text-text-body-2">
          Valores previsíveis que entram periodicamente, como salário,
          aposentadoria e aluguel de imóveis.
        </h3>
      </header>

      <div class="flex items-end justify-between gap-2 mt-3 mb-2">
        <button
          appButton
          color="accent-variant"
          (click)="modalCadastroReceita.set(true)"
        >
          Nova Receita Recorrente
        </button>
      </div>

      <div
        class="relative flex flex-col w-full gap-4 mt-1 overflow-auto max-h-[60vh] scrollbar scrollbar-track-background-base scrollbar-thumb-background-variant-light-2 pe-1 md:max-h-none"
      >
        <app-skeleton-loader [loading]="fetchingData()"></app-skeleton-loader>

        @for(receita of receitasRecorrentes(); track $index) {
        <div
          class="w-full px-3 rounded-md shadow-lg h-max bg-background-variant-light-1"
        >
          <header
            class="grid grid-cols-[1fr_auto] gap-2 grid-rows-1 pt-3 pb-1 border-b border-background-base"
          >
            <div>
              <h1 class="break-all">
                {{ receita.descricao }}
              </h1>
              <h2 class="text-lg font-bold">
                {{ receita.valor | currency : "BRL" }}
              </h2>
            </div>

            <div class="flex justify-end h-7">
              <button
                class="flex items-center gap-[2px] lg:gap-1 px-2 py-1 text-sm transition-all rounded-md lg:text-md me-1 text-primary-base-contrast bg-primary-variant-1/90 hover:bg-primary-base"
                (click)="editReceita(receita)"
                title="Editar Receita"
              >
                Editar
                <span class="scale-90 lg:scale-100 material-symbols-outlined"
                  >box_edit</span
                >
              </button>

              <button
                class="flex items-center px-1 py-1 transition-all rounded-md text-feedback-error-contrast/90 bg-feedback-error/90 hover:bg-feedback-error"
                (click)="deleteReceita(receita)"
                title="Deletar Receita"
              >
                <span class="scale-90 material-symbols-outlined lg:scale-100"
                  >delete</span
                >
              </button>
            </div>
          </header>

          <footer
            class="w-full pt-1 pb-2 overflow-auto scrollbar scrollbar-track-background-variant-light-1 scrollbar-thumb-background-base"
          >
            <div class="flex gap-1 overflow-auto w-max">
              @for (tag of receita.tags; track $index) {
              <span
                class="px-2 text-sm truncate rounded-md shadow-lg bg-background-variant-light-2 w-max max-w-80 lg:text-md"
                [title]="tag"
              >
                {{ tag }}
              </span>
              }
            </div>
          </footer>
        </div>
        } @empty {
        <div
          class="py-3 mt-3 font-light border-t text-text-body-2 border-text-body-2/20"
        >
          <h2>
            Não cadastrou nenhuma receita recorrente?
            <br />
            Experimente clicando no botão
            <span class="font-bold">"Nova Receita Recorrente"</span>
          </h2>
        </div>
        }
      </div>
    </section>

    <section class="pt-3">
      <header>
        <div class="flex flex-wrap items-start justify-between gap-y-1 gap-x-2">
          <h1 class="text-xl font-bold">Entradas</h1>
          <button
            appButton
            color="secondary"
            variant="outline"
            routerLink="historico"
            class="leading-tight"
          >
            Todas as Entradas
          </button>
        </div>

        <h2 class="mt-4 text-text-body-2">
          Aqui você pode adicionar receitas avulsas e acompanhar os pagamentos
          já recebidos, incluindo aqueles vindos de receitas recorrentes.
          Mantenha seu fluxo de entrada sempre atualizado.
        </h2>

        <div class="flex flex-col items-start gap-1 mt-4">
          <!-- <p class="text-sm text-text-body-2">
            Esqueceu de adicionar uma despesa?
          </p> -->

          <button
            class="flex items-center text-sm py-0.5 transition-all rounded-md ps-1 pe-2 text-accent-variant-1-contrast bg-accent-variant-1 hover:bg-accent-variant-1/80"
            (click)="modalAddEntrada.set(true)"
            title="Adicionar Entrada"
          >
            <span class="scale-75 material-symbols-outlined pe-1"
              >note_stack_add</span
            >
            Nova Entrada
          </button>
        </div>
      </header>

      @if(!fetchingData()) {

      <div class="mt-4">
        @for (date of availableDates(); track date) {
        <div class="grid grid-cols-[1fr,auto,1fr] gap-2 items-center mb-4">
          <div class="bg-text-body-2/15 w-full h-[1px]"></div>
          <div class="w-24 text-center">{{ date | date : "dd/MM/yyyy" }}</div>
          <div class="bg-text-body-2/15 w-full h-[1px]"></div>
        </div>

        @for (entrada of entradasByDate()[date]; track $index) {
        <div class="grid grid-cols-[auto_auto_1fr_auto] gap-3 mb-3">
          <div
            class="flex items-center transition-all rounded-md hover:bg-feedback-error/25"
            (click)="deleteEntrada(entrada)"
          >
            <span
              class="scale-90 cursor-pointer material-symbols-outlined lg:scale-100 text-feedback-error"
              >delete</span
            >
          </div>

          <div
            class="grid w-12 h-12 rounded-md shadow-md bg-background-variant-light-1 place-items-center"
          >
            <span
              class="scale-110 material-symbols-outlined text-text-body-1/60"
            >
              account_balance_wallet
            </span>
          </div>

          <div class="flex items-center min-w-full">
            <p
              class="text-sm font-light leading-5 line-clamp-2 text-text-body-1"
            >
              {{ entrada.descricao }}
            </p>
          </div>

          <div class="flex items-center">
            <p class="flex items-center justify-end text-sm font-medium">
              <input
                [(ngModel)]="entrada.valor"
                [readonly]="!entrada.editing"
                currencyMask
                [options]="{
                  prefix: 'R$ ',
                  thousands: '.',
                  decimal: ',',
                  align: 'right'
                }"
                [title]="entrada.valor | currency : 'BRL'"
                class="px-1 border rounded-md shadow-md outline-none read-only:focus-within:ring-0 focus-within:ring-2 ring-text-body-2/20 text-text-body-2 read-only:text-feedback-success max-w-28 border-text-body-1/20 read-only:border-0 bg-background-base"
              />

              @if(!entrada.loading) {
              <span
                class="scale-[0.8] icon-bold cursor-pointer material-symbols-outlined text-feedback-success transition-all rounded-md p-1 hover:bg-feedback-success/25"
                (click)="
                  !entrada.editing
                    ? (entrada.editing = true)
                    : saveEntrada(entrada)
                "
              >
                {{ entrada.editing ? "check" : "edit" }}
              </span>

              } @else {
              <span class="animate-spin">
                <span
                  class="scale-[0.8] icon-bold cursor-pointer material-symbols-outlined text-feedback-info transition-all rounded-md p-1"
                >
                  progress_activity
                </span>
              </span>
              }
            </p>
          </div>
        </div>
        } } @empty {
        <div class="grid items-center gap-2 mb-4">
          <div class="bg-text-body-2/15 w-full h-[1px]"></div>
          <p class="font-light text-center">Nenhuma Entrada disponível</p>
          <div class="bg-text-body-2/15 w-full h-[1px]"></div>
        </div>

        }
      </div>
      } @else {
      <div class="relative w-full h-full">
        <app-skeleton-loader [loading]="fetchingData()"></app-skeleton-loader>
      </div>
      }
    </section>
  </div>
</div>

<!-- Modal Nova Receita  -->

<app-modal
  class="rounded-md"
  [open]="modalCadastroReceita()"
  (close)="modalCadastroReceita.set(false)"
>
  <div class="container w-[95vw] max-w-2xl h-[97vh] lg:h-[90vh]">
    @if (modalCadastroReceita()) {
    <app-add-receita
      (receitaCreated)="handleReceitaCreated($event)"
    ></app-add-receita>
    }
  </div>
</app-modal>

<!-- Modal Delete Receita  -->

<app-modal
  class="rounded-md"
  [open]="modalDeleteReceita()"
  (close)="modalDeleteReceita.set(false)"
>
  @if (modalDeleteReceita()) {
  <app-delete-receita-alert
    [receita]="receitaToDelete()"
    (optionDeleted)="handleReceitaDeleted()"
  ></app-delete-receita-alert>
  }
</app-modal>

<!-- Modal Editar Receita  -->

<app-modal
  position="right"
  class="rounded-md"
  [open]="modalEditReceita()"
  (close)="modalEditReceita.set(false); receitaToEdit.set(null)"
>
  <div
    class="container w-[99vw] max-w-3xl rounded-md h-full min-h-[100vh] max-h-[100vh]"
  >
    @if(modalEditReceita()) {
    <app-add-receita
      (receitaUpdated)="receitaUpdatedHandler($event)"
      [receita]="receitaToEdit()"
    ></app-add-receita>
    }
  </div>
</app-modal>

<!-- Modal Nova Entrada  -->

@if (modalAddEntrada()) {
<app-modal
  class="rounded-md w-[96vw] max-w-2xl md:w-[90vw]"
  [open]="modalAddEntrada()"
  (close)="modalAddEntrada.set(false)"
>
  <app-add-entrada
    (entradaCreated)="handleEntradaCreated($event)"
  ></app-add-entrada>
</app-modal>
}

<!-- Modal Delete Entrada  -->

@if (modalDeleteEntrada()) {
<app-modal
  class="rounded-md"
  [open]="modalDeleteEntrada()"
  (close)="modalDeleteEntrada.set(false)"
>
  <app-delete-entrada-alert
    [entrada]="entradaToDelete()"
    (optionDeleted)="handleEntradaDeleted()"
  ></app-delete-entrada-alert>
</app-modal>
}
