<div
  class="w-full h-full max-h-full bg-background-500 grid overflow-auto {{
    portrait() ? 'grid-rows-[1fr_auto]' : 'grid-cols-[auto_1fr]'
  }}"
>
  @if(!portrait()) {
  <nav>
    <app-side-menu></app-side-menu>
  </nav>
  }

  <main
    id="main-content"
    cdk-scrollable
    class="w-full h-full max-h-full overflow-auto"
  >
    <div
      class="h-full
    {{ portrait() ? 'px-4 pt-5' : 'pt-5 px-14' }}"
    >
      <router-outlet></router-outlet>
    </div>
  </main>

  @if(portrait()) {
  <nav>
    <app-horizontal-menu></app-horizontal-menu>
  </nav>
  }
</div>
