<div
  class="p-4 border rounded-md border-primary-base bg-background-variant-light-2/50"
>
  <h1 class="pb-8 text-2xl font-bold text-center">Login</h1>

  <form [formGroup]="loginForm">
    <div class="grid gap-2">
      <label>
        ID Usuário
        <input appInput type="text" formControlName="userId" />
      </label>

      <label>
        Senha
        <input appInput type="password" formControlName="password" />
      </label>

      @if(errorMessage()) {
      <p
        class="p-2 mt-2 border rounded-md bg-feedback-error/50 border-feedback-error text-text-body-1"
      >
        {{ errorMessage() }}
      </p>
      }
    </div>

    <button
      appButton
      [loading]="loading()"
      class="w-full my-10"
      (click)="login()"
    >
      Entrar
    </button>
  </form>

  <p class="text-center text-text-body-1/70">
    Ainda não tem uma conta?
    <span
      class="font-bold cursor-pointer ps-1 text-primary-base"
      routerLink="/auth/register"
      >Registre-se!</span
    >
  </p>
</div>
