<div>
  <div class="flex justify-end">
    <button (click)="modalCadastro.set(true)" appButton class="w-60">
      Cadastrar Nova Rota
    </button>
  </div>

  <form [formGroup]="filtersForm" (ngSubmit)="setPaths()">
    <div class="grid grid-cols-7 gap-4">
      <div class="col-span-2">
        <label>
          Comunidade
          <input type="text" formControlName="comunidade" appInput />
        </label>
      </div>

      <div class="col-span-2">
        <label>
          Release Train
          <input type="text" formControlName="releaseTrain" appInput />
        </label>
      </div>

      <div class="col-span-2">
        <label>
          Squad
          <input type="text" formControlName="squad" appInput />
        </label>
      </div>

      <div class="flex items-end">
        <button appButton type="submit" class="w-full">Buscar</button>
      </div>
    </div>
  </form>

  <div class="mt-8">
    <h2 class="mb-2 text-xl font-bold text-secondary-400">
      Rotas Encontradas:
    </h2>

    <table class="table-primary">
      <thead>
        <tr>
          <th>Path</th>
          <th>Comunidade</th>
          <th>Release Train</th>
          <th>Squad</th>
        </tr>
      </thead>

      <tbody>
        @for(path of paths(); track $index) {
        <tr>
          <td>{{ path.pathId }}</td>
          <td>{{ path.comunidade }}</td>
          <td>{{ path.releaseTrain }}</td>
          <td>{{ path.squad }}</td>
        </tr>
        } @empty {
        <tr>
          <td colspan="4" class="font-bold text-center text-text-700">
            Nenhuma rota encontrada.
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<app-modal [open]="modalCadastro()" class="p-6 rounded-md">
  <h1 class="mb-4 text-xl font-extrabold text-secondary-500">
    Cadastrar Nova Rota
  </h1>

  <form [formGroup]="cadastroRotaForm" (ngSubmit)="insertPath()">
    <div class="grid gap-4">
      <div class="">
        <label>
          PathId
          <input type="text" formControlName="pathId" appInput />
        </label>
      </div>

      <div class="">
        <label>
          Comunidade
          <input type="text" formControlName="comunidade" appInput />
        </label>
      </div>

      <div class="">
        <label>
          Release Train
          <input type="text" formControlName="releaseTrain" appInput />
        </label>
      </div>

      <div class="">
        <label>
          Squad
          <input type="text" formControlName="squad" appInput />
        </label>
      </div>

      <div class="flex items-end">
        <button appButton type="submit" class="w-full">Buscar</button>
      </div>
    </div>
  </form>
</app-modal>
