<ktd-grid
  [compactType]="'vertical'"
  [cols]="cols"
  [rowHeight]="rowHeight"
  [layout]="layout"
  [gap]="10"
  [preventCollision]="false"
  (layoutUpdated)="onLayoutUpdated($event)"
  (resizeEnded)="updateGridItemOriginalWidthOnResize($event)"
  (dragEnded)="setLayout($event.layout)"
  [backgroundConfig]="backgroundConfig"
  class="relative"
  [scrollableParent]="scrollableParentId()"
  [scrollSpeed]="6"
>
  @for(gridItem of gridItems(); track $index) {
  <ktd-grid-item
    [id]="gridItem.id"
    class="rounded-md shadow-lg bg-background-variant-light-1"
  >
    <app-skeleton-loader
      class="rounded-md"
      [loading]="gridItem.loading()"
    ></app-skeleton-loader>

    <span
      ktdGridDragHandle
      class="absolute top-0 left-0 z-10 p-2 material-symbols-outlined cursor-grab active:cursor-grabbing"
      >drag_indicator</span
    >

    <div class="w-full h-full px-3 pt-2 pb-6 overflow-auto">
      <ng-container [ngTemplateOutlet]="gridItem.template"></ng-container>
    </div>

    <span
      ktdGridResizeHandle
      class="absolute bottom-[-6px] z-20 right-[-1px] material-symbols-outlined rotate-[315deg] cursor-se-resize text-lg"
      >filter_list</span
    >

    <ng-template ktdGridItemPlaceholder>
      <div class="w-full h-full bg-primary-base"></div>
    </ng-template>
  </ktd-grid-item>
  }
</ktd-grid>

<!-- <pre>
  {{ layout | json }}
</pre> -->
